{% extends 'core/base.html' %}

{% load static %}

{% block title %}Muestra{% endblock %}

{% block content %}
<section class="page-section about-heading">
  <div class="container">
    <div class="about-heading-content mbtm">
      <div class="row">
        <div class="col-xl-9 col-lg-10 mx-auto">
          <div class="bg-faded rounded p-5 forced">
            <h2 class="section-heading mb-4">
              <span class="section-heading-upper">Els nostres amics</span>
            </h2>
            <div class="section-content">
            <a href=https://www.elprat.eu//>Calendario el Prat</a>
            <br><br>
            <a href=https://www.buscaprat.com//>Busca Prat</a>
            <br><br>
            <a href=https://www.elprat.cat/cultura/patrimoni-cultural/>
Patrimoni cultural. Ajuntament del Prat de Llobregat</a>
            <br><br>
            <a href=http://filmoffice.elprat.cat/presentacio1_1/_uAlD6pePkNb_h3UTKm21aoUqUC1djpb6SAD7nNdAOsQNFWsqdgWd1A/>El Prat Film Office</a>
            <br><br>
            <a href=https://www.elprat.cat//>Ajuntament del Prat de Llobregat</a>
            <br><br>
            </h2>
            <p>Si vols aparèixer aquí, envia'ns un missatge a <a href=»mailto:cinecaprielprat@gmail.com»>cinecaprielprat@gmail.com</a>

 <p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
