{% extends 'core/base.html' %}

{% load static %}

{% block title %}Historia{% endblock %}

{% block content %}
<section class="page-section about-heading">
  <div class="container">
    <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="{% static 'core/img/movie.jpg' %}" alt="">
    <div class="about-heading-content">
      <div class="row">
        <div class="col-xl-9 col-lg-10 mx-auto">
          <div class="bg-faded rounded p-5">
            <h2 class="section-heading mb-4">
              
              <span class="section-heading-upper">La nostra història</span>
            </h2>
            <p>El 23 de desembre de 1967 “My Fair Lady” inaugurava la pantalla del nou cinema Capri. El propietari del cinema Monmari, Joaquim Marimón, va tenir la suficient visió de futur per intuir que el Prat creixeria en direcció sud. Per això va comprar uns solars que li van oferir a bon preu en el que hauria de ser un dels centres de la població, la incipient avinguda Verge de Montserrat.
 
Les obres de construcció del local van trigar set anys i, en part, es van finançar gràcies a la venda d’un altre solar a la mateixa avinguda, quan aquesta iniciava ja el seu creixement i els terrenys s’havien revalorat.
 
Per fer front a les despeses de programació i evitar competències innecessàries, els empresaris dels quatre locals que hi havia al poble es van associar. D’aquesta manera, l’Artesà i el Monmari oferien pel·lícules aptes per a tots els públics, i el Capri i el Moderno, per a adults. Com que només es llogava una còpia de cada pel·lícula, s’havien d’exhibir amb l’ordre invers a cada cinema i, a mesura que s’acabaven els rotlles, un noi –que era conegut afectuosament com el noi del ”pase”- s’encarregava de portar les bobines, sovint més voluminoses que ell, d’un cinema a l’altre.
 

La crisi, però, no trigà a arribar i, a poc a poc, tots van anar plegant, primer l’Artesà, després el Monmari i, finalment, el Moderno. Des del 1985, el cinema Capri, que continua dirigit per la família Marimón-Padrosa, és l’únic que funciona al Prat i una de les poques sales de gran format que queden a la comarca del Baix Llobregat

 <p>

Fermín Marimón PC
</p>
<p>
La família Marimón-Padrosa produeix també cinema. Entre les seves produccions hi ha el primer llargmetratge d'animació rodat en llengua catalana, <a href=https://www.imdb.com/title/tt0098077/>Peraustrínia 2004</a> (Premi Sant Jordi de Cinematografia 1990) i <a href=https://www.filmaffinity.com/ar/film993415.html/>Pactar amb el gat</a> (2007). </p>
</p>            
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}