{% extends 'core/base.html' %}

{% load static %}

{% block title %}Visítanos{% endblock %}

{% block content %}
<section class="page-section cta">
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <div class="cta-inner text-center rounded">
          <h2 class="section-heading mb-5">
            <span class="section-heading-upper">Te esperamos</span>
            
         </h2>
         <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1498.114837997343!2d2.0944477718775167!3d41.3256187963354!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a49ec338f12929%3A0xc5cfc32c291d3ddc!2sAv.%20de%20la%20Verge%20de%20Montserrat%2C%20111%2C%2008820%20El%20Prat%20de%20Llobregat%2C%20Barcelona!5e0!3m2!1ses!2ses!4v1568104996730!5m2!1ses!2ses" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
          <p class="address mb-5">
            <em>
              <strong>Avinguda Verge de Montserrat, 111</strong>
              <strong>08820 El Prat de Llobregat</strong>
              <strong>cinecapri@gmail.com</strong>
              <br>
              Barcelona
            </em>
          </p>
          <p class="mb-0">
            <small>
              <em>Llámanos y pregunta</em>
            </small>
            <br>
            933795943
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}